@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/progress.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/checkbox.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/container.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/form.min.css");
/*@import url("");*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}

blockquote:before,blockquote:after,q:before,q:after
{
	content:'';
	content:none;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

body {-webkit-text-size-adjust:none}
*, *:before, *:after {box-sizing: border-box;}

html 
{
	height: 100%;
	font-size: 18pt;
}

body 
{
	min-width: 320px;
	line-height: 1.0;
	height: 100%;
	word-wrap: break-word;
	overflow-x: hidden;
	background-image: linear-gradient(to top, rgba(0,0,0,0.722), rgba(0,0,0,0.722)), url('../img/page01.jpg');
	background-position: 0% 0%, center;background-repeat: repeat, no-repeat;background-size: auto, cover;
	background-attachment: fixed;
	color: rgba(255,255,255,0.671);
	font-family: 'Source Sans Pro';
	font-weight: 300;
}

strong 
{
	color: inherit;
	font-weight: bolder;
}

em {font-style: italic;}

a 
{
	color: inherit;
	text-decoration: underline;
}

a:hover {text-decoration: none;}

h1, h2, p 
{
	position: relative;
	letter-spacing: 0.05rem;
	right: -0.05rem;
	line-height: 1.5;
}

h1 
{
	color: #FFFFFF;
	position: relative;
	letter-spacing: 0.35rem;
	right: -0.35rem;
	font-size: 2.625em;
	line-height: 1.175;
	font-weight: 200;
}

#wrapper 
{
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	-moz-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	min-height: 100%;
	position: relative;
	z-index: 1;
	padding: 0 0 0 3.75em;
}

body.is-ie #wrapper {height: 100%;}

#main 
{
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	text-align: right;
	background-color: transparent;
	-moz-transition: all 1.875s ease 0s;
	-webkit-transition: all 1.875s ease 0s;
	-ms-transition: all 1.875s ease 0s;
	transition: all 1.875s ease 0s;
}

#main > .inner 
{
	overflow-x: hidden;
	width: 100em;
	max-width: 100%;
	padding: 6.25em 5em;
}

#main > .inner > * 
{
	margin: 0.625rem 0;
	-moz-transition: opacity 1s ease-in-out 0s;
	-webkit-transition: opacity 1s ease-in-out 0s;
	-ms-transition: opacity 1s ease-in-out 0s;
	transition: opacity 1s ease-in-out 0s;
}

#main > .inner > :first-child {margin-top: 0 !important;}
#main > .inner > :last-child {margin-bottom: 0 !important;}
#main > .inner > .image {margin: 0.78125rem 0;}
#main > .inner > .video {margin: 0.78125rem 0;}

body.is-loading #main 
{
	opacity: 0;-moz-transform: translateX(1.5em);
	-webkit-transform: translateX(1.5em);
	-ms-transform: translateX(1.5em);
	transform: translateX(1.5em);
}

body.is-loading #main > .inner > * 
{
	opacity: 0;
}

#main > .inner > :nth-child(2) 
{
	-moz-transition-delay: 0.375s;
	-webkit-transition-delay: 0.375s;
	-ms-transition-delay: 0.375s;
	transition-delay: 0.375s;
}

#main > .inner > :nth-child(3) 
{
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
}

#main > .inner > :nth-child(4) 
{
	-moz-transition-delay: 1.125s;
	-webkit-transition-delay: 1.125s;
	-ms-transition-delay: 1.125s;
	transition-delay: 1.125s;
}

#main > .inner > :nth-child(5) 
{
	-moz-transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-ms-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

.image 
{
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: block;
}

.image img 
{
	width: 100%;
	max-width: 100%;
	display: inline-block;
	width: 7em;
	border-radius: 2.25em;
}

h1.style1, h2.style1, p.style1 
{
	font-size: 1.125em;
	line-height: 1.675;
}

h1.style2, h2.style2, p.style2 {font-size: 0.8em;}

.icons 
{
	cursor: default;
	padding: 0;
	letter-spacing: 0;
	font-size: 1.125em;
}
.icons li 
{
	display: inline-block;
	vertical-align: middle;
	margin: 0.75em 0 0.75em 1.5em;
}

.icons li a 
{
	display: block;
	color: inherit;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0;
	border-radius: 0.25em;
	border-radius: 0.25em;
	width: 2em;
	height: 2em;
	line-height: 2em;
}

.icons li a .label {display: none;}
.icons li:first-child {margin-left: 0;}
.icons li a:before {color: #FFFFFF;}
.icons.style1 .n01 {background-color: #3E4CC2;}
.icons.style1 .n02 {background-color: #48A3B0;}
.icons.style1 .n03 {background-color: #596B75;}
.icons.style1 .n04 {background-color: #596B75;}
@media (max-width: 1680px) {html {font-size: 13pt;}}
@media (max-width: 1280px) {html {font-size: 13pt;}}
@media (max-width: 980px) {html {font-size: 11pt;}}
@media (max-width: 736px) {html {font-size: 11pt;}
#main > .inner {padding: 3em 2em;}
h1 br, p br {display: none;}}
@media (max-width: 360px) {h1 {font-size: 2em;}
#main > .inner {padding: 2.5em 1.25em;}
.icons li {margin: 0.5625em 0 0.5625em 1.125em;}}